<h1>Home</h1>

<div class="row justify-content-center" data-controller="search">
  <%= form_with(url: "/", method: :get) do |form| %>
      <%= form.text_field :stock, hide_label: true, placeholder: "Stock" %>
      <%= form.label :interval %>
      <%= form.select :interval, @intervals, { include_blank: true } %>
      <%= form.submit "Search" %>
  <% end %>

  <div>
   <%= @data %>
  </div>

</div>
