<h1>Binance Klines API</h1>

<div  id="search" >
  <%= form_with(url: "/", method: :get) do |form| %>
    <%= form.text_field :stock, hide_label: true, placeholder: "Symbol", required: true %>
    <%= form.label :interval %>
    <%= form.select :interval, @intervals, { include_blank: true }, { required: true } %>
    <%= form.submit "Search" %>
  <% end %>

  <br>

  <div id="response">
    <% unless @moving_average.nil? %>
      <%= "Symbol: #{params[:stock]}" %> <br>
      <%= "Interval: #{params[:interval]}" %> <br>
      <%= "Moving Average: #{@moving_average}" %>
    <% end %>
    <%= "Error: #{@error_message}" unless @error_message.nil?%>
  </div>
</div>
